<div class="row">
  <div class="large-12 columns">
    <h3 class="subheader">Questions</h3>
  </div>
</div>

<% @questions.each do |question| %>
<div class="row panel">
  <div class="row">
    <div class="large-7 columns">
      <h4><%= link_to question.title, question %></h4>
    </div>
    <div class="large-3 columns">
      <em><strong>Created:</strong> <%= question.created_at.to_formatted_s(:short) %></em>
    </div>
    <div class="large-2 columns">
      <a href="<%= edit_question_path(question) %>" class="button">Edit Question</a>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <p><%= markdown(question.description) %></p>
    </div>
  </div>
</div>
<% end %>

